

        .menu:hover #barra1{
            animation-name: animacionBarra1;
            animation-duration: 3s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }

        .menu:hover #barra2{
            animation-name: animacionBarra2;
            animation-duration: 3s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }

        .menu:hover #barra3{
            animation-name: animacionBarra3;
            animation-duration: 3s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }

        .menu:not(:hover) #barra1 {
            animation-name: animacionBarra1Not;
            animation-duration: 3s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }

        .menu:not(:hover) #barra2 {
            animation-name: animacionBarra2Not;
            animation-duration: 3s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }

        .menu:not(:hover) #barra3 {
            animation-name: animacionBarra3Not;
            animation-duration: 3s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }

        .barra {
            position: absolute;
            content: '';
            background-color: var(--blanco);
            height: 4px;
            width: 50px;
        }

        #barra2{
            margin-top: 20px;
        }

        #barra3 {
            margin-top: 40px;
        }


        @keyframes animacionBarra1 {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(-240deg);
            }
        }

        @keyframes animacionBarra2 {
            0% {
                opacity: 1;
            }
            
            10% {
                opacity: 0;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes animacionBarra3 {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(240deg);
            }
        }

        @keyframes animacionBarra1Not {
            from {
                transform: rotate(240deg);
            }
            to {
                transform: rotate(0deg);
            }
        }

        @keyframes animacionBarra2Not {
            0% {
                opacity: 0;
            }

            90% {
                opacity: 0;
            }
            

            100% {
                opacity: 1;
            }
        }

        @keyframes animacionBarra3Not {
            from {
                transform: rotate(-240deg);
            }
            to {
                transform: rotate(0deg);
            }
        }